{$SUBDOMAIN} {
    encode gzip

    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "SAMEORIGIN"
        Referrer-Policy "strict-origin-when-cross-origin"
        -Server
    }

    reverse_proxy /websocket odoo:8072
    reverse_proxy /longpolling/* odoo:8072
    reverse_proxy odoo:8069
}
